<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxy.mapper.StudentMapper">
 
<!-- <resultMap type="students" id="stumap"> -->
<!--      <id property="studId" column="stud_id"/> -->
<!--      <result property="name" column="name"/> -->
<!--      <result property="dob" column="dob"/> -->
<!--      <result property="email" column="email"/> -->
<!-- </resultMap> -->
 

<!-- <select id="findStudentsById" parameterType="int" resultMap="stumap"> -->
<!--     select * from students where stud_id=#{id} -->
<!-- </select> -->
 
<!-- 简单数据类型 -->
	<select id="findStudentsById" parameterType="int" resultType="students">
    	select * from students where stud_id=#{id}
	</select>

<!-- 返回Map 是一个数据时，根据数据库的字段和值生成map-->
  <select id="findById" parameterType="int" resultType="map">
    select * from students where stud_id=#{id}
  </select>
 
 <!-- 返回map 对个对象时，-->
 <select id="findById2" parameterType="int" resultType="map">
    select * from students where stud_id>#{id}
 </select>
 
 <!-- Map用于传多个参数 -->
 <select id="findBy03" parameterType="map" resultType="students">
    select * from students where stud_id>#{id} and name like #{name};
 </select>

</mapper>