#cb_post_title_url{
	width:100%;
	margin: 5px 0px 20px 20px;
	font-family :"微软雅黑";
	font-size: 18px;
	color: black;
	line-height: 30px;
	text-shadow: 2px 2px 4px #CCC;
	letter-spacing: 1px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	}

#cb_post_title_url:hover{
	color: #567286;
	text-decoration: none;
	}
#cnblogs_post_body h1,
#cnblogs_post_body h2,
#cnblogs_post_body h3{
    background: none repeat scroll 0 0 #20375f;
    border-radius: 4px;
    clear: both;
    color: white;
    letter-spacing: 1px;
    margin: 10px 0 !important;
    padding: 2px 2px 5px;
    text-align: left;
    font-family: "Microsoft Yahei";
	}
#cnblogs_post_body h6 {
    border-top: 5px solid peru;
    font-size: 32px;
    height: 22px;
    line-height: 5px;
    margin: 15px 0;
    padding: 20px 0 0;
    text-align: center;
    border-bottom: 5px solid peru;
}
#cnblogs_post_body h5{
    border-top: 0px solid peru;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    margin: 2px 13px;
    padding: 2px 0 0;
    text-align: center;
    border-bottom: 5px solid peru;
	}
#cnblogs_post_body h1{
	height: 42px;
	font-size: 23px;
	text-indent: 10px;
        margin:5 5 5 5!important;
	}
#cnblogs_post_body h2{
	height: 38px;
	font-size: 22px;
	text-indent: 15px;
        margin:10 5 5 5!important;
	}
#cnblogs_post_body h3{
	height: 32px;
	font-size: 20px!important;
	text-indent: 20px;
        margin:15 5 5 5!important;
	}
#cnblogs_post_body h4{
	margin: 15px 22px;
	border:1px solid #567286;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 4px;
	padding: 10px;
	font-size: 15px;
	font-weight:normal;
	text-align: left;
	letter-spacing: 1px;
	background-color: #f8f8ee;
	}
#cnblogs_post_body blockquote{
	margin:5px 17px;
	}
#cnblogs_post_body p,
#cnblogs_post_body ul,
#cnblogs_post_body ol{
	margin: 8px 15px;
	letter-spacing: 1px;
        text-align: justify;
        line-height: 1.6;
        word-break: break-all;
        word-wrap: break-word;
        font-size: 12pt;
        font-family: Microsoft YaHei;
	}
#cnblogs_post_body div{
	background-color: #FFF;
        word-wrap: break-word; 
        word-break: break-all;
	}
#cnblogs_post_body div.cnblogs_code{
    font-size:16px;
	font-family: Courier New;
	margin: 15px 17px;
	border:1px dashed #567286;
	background-color: #FFF;
width: 95.2%%;
	}
#cnblogs_post_body div.cnblogs_code pre {
    font-size:15px!important;
	font-family: Courier New;
	background-color: #FFF;
	}
#cnblogs_post_body div.cnblogs_code pre span {
    font-size:15px!important;
	font-family: Courier New;
	background-color: #FFF;
	}
#cnblogs_post_body table{
	width: 97.3%;
	border-collapse: collapse;
	margin:auto;
	border-top: 1px solid #483D8B;
	border-bottom: 1px solid #483D8B;
	padding: 0px;
	background-color: #FFF;
	text-align:left;
margin-left:15px;
}
#cnblogs_post_body table thead tr{
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #566286;
	color: #ffffff;
	font-size: 1.1em;
	text-align: left;
	}
#cnblogs_post_body table td, #cnblogs_post_body table th{
	padding: 0px 2px 0px 2px;
	}
#MySignature .copyright{
	width: 500px;
	height: 52px;
	margin: 15px 35px;
	background-color: #f3eb7c;
	border:3px dashed #567286;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 10px;
	font-size: 17px;
	color: #567286;
	text-align: left;
	line-height: 26px;
	}
#blog_contents{
	margin: 20px;
	border: solid 1px #567286;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
	font-size: 18px;
	color: #567286;
	text-align: left;
	text-indent: 10px;
	background-color: #f8f8ee;
	}
#blog_contents h2{
	margin-bottom: 10px;
	border-bottom: solid 3px #567286;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 2px 2px 5px 2px;
	font-size: 26px;
}
#blog_contents a{
	display: block;
	margin-left: 10px;
	line-height: 30px;
}
#blog_contents a.h1{
	margin-left: 10px;
	}
#blog_contents a.h2{
	margin-left: 25px;
	}
#blog_contents a.h3{
	margin-left: 50px;
	}
h1 a.return-to-contents:visited,
h1 a.return-to-contents:active,
h1 a.return-to-contents:link,
h1 a.return-to-contents:hover{
	color: #1d58d1;
	margin-top: 10px;
	text-decoration: none;
	}
a.return-to-contents{
	color: #1d58d1;
	margin-left: 50px;
	}
    #cnblogs_post_body ol
     {
    background-color: #e3e3ff;
    border: 1px dotted #000066;
    border-radius: 5px;
    font-family: Consolas,Verdana !important;
    line-height: 150%;
    list-style-position: outside;
    margin:7px 17px !important;
white-space: nowrap;
    max-height: 650px;
    overflow-x: auto;
     }
     #cnblogs_post_body ol font
     {
         font-size: 15px !important;
     }
     #cnblogs_post_body ol li
     {
         background-color: #fff;
         padding-left: 5px;
         border-left: 1px solid #8A8AFF;
         margin-left: 5px !important;
     }
     #cnblogs_post_body ol li:nth-child(even)
     {
         background-color: #f5f5f5;
     }
     #calendar {
            text-align: center;
            border: solid 1px !important;
        }
#sideBar h3, #MyIng .ing_title {
    margin: 30px 0px 0px -8px;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
}
#profile_block {
    margin-top: 5px;
    line-height: 1.5;
    text-align: left;
    border-top: solid #C5C2C2 1px;
padding-top: 10px;
}
#sideBar h3, #MyIng .ing_title {
    margin: 10px 5px 0px -8px;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
}
}
#blog-news {
    overflow: hidden;
    border: #F27055 solid 1px !important;
}
#MathJax-Span-2{
font-family: Courier New!important;
}